
.mining-header{
    display: block;
    background: #00415b;
}
.mining-header a{
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 10px 0;

}
.small-enterprise h3{
    color: #0f0f0f;
}

.medium-enterprise h3{
    color: #0f0f0f;
}
.civil-use-enterprise h3{
    color: #0f0f0f;
}
.Listing-enterprise h3{
    color: #0f0f0f;
}
















